@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  margin: 10px;
}

img {
  width: 600px;
  align-self: center;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

a {
  text-decoration: none;
  color: black;
  font-size: 10px;
  font-weight: 10;
}

ul {
  list-style: none;
  padding: 0px;
  margin-top: 6px;
  display: flex;
  gap: 16px;
}

.header {
  align-self: flex-start;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.footer {
  background-color: #eee;
  display: flex;
  justify-content: space-between;
  margin: 0px -10px;
  padding: 0px 5px;
}

.content {
  display: flex;
  flex-direction: column;
}

.input {
  align-self: center;
}

.buttons {
  align-self: center;
}
